<% layout('./layouts/boilerplate') %>

<h1>This is chest</h1>
<div>
    <a href="/chests/newChest">Add Exercise</a>
</div>
<ol>
    <li>Bench</li>
    <li>Dumbell bench</li>
    <li>Cable flys</li>
    <li>Pushups</li>
</ol>