<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">New Workout</h1>
    <div class="col-6">
        <form action="/calves" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="workout[title]" id="title" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="reps">Reps</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="reps" placeholder="0" aria-label="reps"
                        aria-describedby="rep-label amount" name="workout[reps]" required>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" name="workout[image]" id="image" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="workout[description]" required
                    id="description"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Workout</button>
            </div>
        </form>
    </div>
</div>